/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

.toast {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }
  .toast:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 99; }
  .toast .toast-wrap {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .toast .toast-wrap .toast-content {
      padding: 5px 12px;
      margin-bottom: 20%;
      font-size: 0.3rem;
      color: #fff;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 10px; }

.animated {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease; }

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
    opacity: 0; }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
    opacity: 0; }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp; }

.bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background: url(../../../images/201712/driver_signup/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .bg .driver {
    width: 80%; }

.driver .phone-wrap {
  height: 1rem;
  margin-top: 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 5px; }
  .driver .phone-wrap .phone {
    width: 80%;
    height: 80%;
    font-size: 0.5rem;
    text-align: center;
    border: none;
    outline: none;
    box-shadow: 0 0 0px 1000px white inset !important; }

.driver .submit-wrap {
  width: 60%;
  height: 1rem;
  margin: 15px auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.5rem;
  border-radius: 5px;
  background: yellow; }

.notice {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 102;
  width: 100%;
  height: 100%; }
