@import '../../component/reset.scss';
@import '../../component/minxins.scss';
@import '../../component/toast.scss';
.bg {
    @include mask(101);
    background: url(../../../images/201712/driver_signup/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .driver {
        width: 80%;
    }
}

.driver {
    .phone-wrap {
        height: px2rem(100);
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 5px;
        .phone {
            width: 80%;
            height: 80%;
            font-size: px2rem(50);
            text-align: center;
            border: none;
            outline:none;
            box-shadow: 0 0 0px 1000px white inset !important;
        }
    }
    .submit-wrap {
        width: 60%;
        height: px2rem(100);
        margin: 15px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: px2rem(50);
        border-radius: 5px;
        background: yellow;
        &:active {
            // background: red;
        }
    }
}

.notice {
    @include mask(102);
}